<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lvmeng.taolemall.mapper.UsersMapper">
    <select id="login" resultType="com.lvmeng.taolemall.Users">
       select * from taole.users where username = #{username} and password = #{password}
    </select>

    <select id="findUserByName" resultType="com.lvmeng.taolemall.Users">
       select * from taole.users where username = #{username}
    </select>

    <insert id="register" parameterType="com.lvmeng.taolemall.Users" useGeneratedKeys="true">
        insert into taole.users (username, password, user_address) values (#{username}, #{password}, #{user_address})
    </insert>

    <select id="getInfoById" resultType="com.lvmeng.taolemall.Users">
        select user_address from taole.users where user_id = #{user_id}
    </select>

</mapper>